---
layout: 2023-default
title: P2S2 Workshop
---

<div id="sub-frame">
<h1>Workshop Goal</h1>
<div id="description">
  <p> The goal of this workshop is to bring together researchers and practitioners in parallel programming models and systems software for emerging and high-end computing architectures. Please join us in a discussion of new ideas, experiences, and the latest trends in these areas at the workshop. </p>
</div>

<h1>Topics of Interest</h1>
<div id="description">
  <p>The focus areas for this workshop include, but are not limited to:</p>
  <ul>
    <li>Systems software for high-end scientific and enterprise computing architectures</li>
      <ul>
        <li>Communication sub-subsystems for high-end computing</li>
        <li>High-performance File and storage systems</li>
        <li>Fault-tolerance techniques and implementations</li>
        <li>Efficient and high-performance virtualization and other management mechanisms for high-end computing</li>
		<li>System softwares and platforms for convergence between HPC and Cloud</li>
		<li>Quantum computing and communication</li>
      </ul>

    <li>Programming models and their high-performance implementations</li>
      <ul>
        <li>MPI, Sockets, OpenMP, Global Arrays, X10, UPC, CAF, Chapel, and others</li>
        <li>Hybrid Programming Models</li>
		<li>Parallel programming models for ML/DL/AI</li>
      </ul>

    <li>Tools for Management, Maintenance, Coordination and Synchronization</li>
      <ul>
        <li>Software for Enterprise Data-centers using Modern Architectures</li>
        <li>Job scheduling libraries</li>
        <li>Management libraries for large-scale system</li>
        <li>Toolkits for process and task coordination on modern platforms</li>
      </ul>

    <li>Performance evaluation, analysis and modeling of emerging computing platforms</li>
  </ul>
</div>
 <!-- End of Workshop Scope and Goals -->

<h1>Proceedings</h1>
<div id="description">
  <p>Accepted papers will be published in the ACM Digital Library, in conjunction with those of other ICPP workshops, in a volume entitled 51st International Conference on Parallel Processing Workshops (ICPP 2023 Workshops). This volume will be available for download via the ACM Digital Library.</p>
  <!--
  <p>Accepted papers will be published by the ACM International Conference Proceedings Series (ICPS), in conjunction with those of other ICPP workshops, in a volume entitled <b>50th International Conference on Parallel Processing Workshops</b> (ICPP 2023 Workshops). This volume will be available for download via the ACM Digital Library. </p>-->
  <!--
  <p>The workshop proceedings will be published in the ACM Digital Library, together with the ICPP conference proceedings. Full PDFs are available at: <a href = "https://dl.acm.org/citation.cfm?id=3229710"> https://dl.acm.org/citation.cfm?id=3229710 </a>. You can also download the proceedings tarball at <a href = "http://oaciss.uoregon.edu/icpp18/program2.php"> http://oaciss.uoregon.edu/icpp18/program2.php.</a> </p>
  -->
</div>

<!-- Journal Info -->
{% include_relative _includes/journal.html %}

<!-- Important Dates -->
{% include_relative _includes/dates.html %}


</div> <!-- End of sub-frame -->
