<h1>Submission Instructions</h1>
    <div id="description">
      <p>Papers should present original research and should provide sufficient background material to make them accessible to the broader community.</p>

      <p>Regular paper track submitted manuscripts may not exceed 10 single-spaced double-column pages using 10-point size font on 8.5x11 inch pages (IEEE conference style), including figures, tables, and references. See the style templates for <a href="http://www.ipdps.org/templates/IEEECS_CPS_LaTeX_Letter_2Col.zip">latex</a> or <a href="http://www.ipdps.org/templates/IEEECS_CPS_8.5x11x2.zip">word</a> for details.</p>

      <p>Short paper track submitted manuscripts follow the same instructions as the regular manuscript but may not exceed 6 pages.</p>

      <p>Submissions will be judged based on relevance, significance, originality, correctness, and clarity.</p>
      <p>Submission site: <a href="https://easychair.org/conferences/?conf=ashes2021">https://easychair.org/conferences/?conf=ashes2021</a></p>

    </div>
