<h1>Submission Instructions</h1>
    <div id="description">
      TBD
      <!-- <p>Submissions should be in PDF format in U.S. letter size paper, and should be formatted in a double-column format with a font size 10 pt or larger. They should not exceed 10 pages (all inclusive). Please follow the ACM format located at <a href = "https://www.acm.org/publications/proceedings-template"> https://www.acm.org/publications/proceedings-template </a>. Submissions will be judged based on relevance, significance, originality, correctness and clarity. </p>

      <p> The paper submission online system is open: <a href = "https://easychair.org/conferences/?conf=p2s22018"> https://easychair.org/conferences/?conf=p2s22018 </a> </p> -->
    </div>
