---
layout: default
title: P2S2 Workshop
---

<div id="sub-frame">
<h1>Workshop Goal</h1>
<div id="description">
  <p> The goal of this workshop is to bring together researchers and practitioners in parallel programming models and systems software for high-end computing architectures. Please join us in a discussion of new ideas, experiences, and the latest trends in these areas at the workshop. </p>
</div>

<h1>Topics of Interest</h1>
<div id="description">
  <p>The focus areas for this workshop include, but are not limited to:</p>
  <ul>
    <li>Systems software for high-end scientific and enterprise computing architectures</li>
      <ul>
        <li>Communication sub-subsystems for high-end computing</li>
        <li>High-performance File and storage systems</li>
        <li>Fault-tolerance techniques and implementations</li>
        <li>Efficient and high-performance virtualization and other management mechanisms for high-end computing</li>
      </ul>

    <li>Programming models and their high-performance implementations</li>
      <ul>
        <li>MPI, Sockets, OpenMP, Global Arrays, X10, UPC, CAF, Chapel, and others</li>
        <li>Hybrid Programming Models</li>
      </ul>
    
    <li>Tools for Management, Maintenance, Coordination and Synchronization</li>
      <ul>
        <li>Software for Enterprise Data-centers using Modern Architectures</li>
        <li>Job scheduling libraries</li>
        <li>Management libraries for large-scale system</li>
        <li>Toolkits for process and task coordination on modern platforms</li>
      </ul>
    
    <li>Performance evaluation, analysis and modeling of emerging computing platforms</li>
  </ul>
</div>
 
 <!-- End of Workshop Scope and Goals -->

<!-- <h1>Proceedings</h1>
<div id="description">
  <p>The workshop proceedings will be published in the ACM Digital Library, together with the ICPP conference proceedings. Full PDFs are available at: <a href = "https://dl.acm.org/citation.cfm?id=3229710"> https://dl.acm.org/citation.cfm?id=3229710 </a>. You can also download the proceedings tarball at <a href = "http://oaciss.uoregon.edu/icpp18/program2.php"> http://oaciss.uoregon.edu/icpp18/program2.php.</a> </p>
</div>  -->
{% include_relative _includes/dates.html %}
<!-- {% include_relative _includes/journal.html %} -->
  
</div> <!-- End of sub-frame -->

