---
layout: default
title: AsHES Workshop
---

<div id="sub-frame">
  <h1>DESCRIPTION OF THE WORKSHOP</h1>
  <div id="description">
    <img src="pics/portland.jpg" border="1" width="300" align="left" alt="Portland"/>

    <p> The development of ever larger and more energy-efficient computer systems in recent years has led to more and more systems with heterogeneous computing units (CPUs, GPUs or FPGAS) and systems with heterogeneous storage systems (High Memory Bandwidth). With the rise of persistent memory, attached to the PCIe bus or to the memory DIMMs, the border between storage and memory becomes more and more fluid. Other systems offer different types of compute nodes, so that a group of nodes build the accelerator (modular supercomputing). Hierarchical storage architectures, for example using burst buffers, try to overcome the IO problems. Programming such a system can be a real challenge along with locality, scheduling, load balancing, concurrency and so on.</p>

    <p> This workshop focuses on understanding the implications of accelerators and heterogeneous designs on the hardware systems, porting applications, performing compiler optimizations, and developing programming environments for current and emerging systems. It seeks to ground accelerator research through studies of application kernels or whole applications on such systems, as well as tools and libraries and runtime systems that improve the performance and productivity of applications on these systems.</p>

    <p> The goal of this workshop is to bring together researchers and practitioners who are involved in application studies for accelerators and other heterogeneous systems, to learn the opportunities and challenges in future design trends for HPC applications and systems.</p>

  <br>
  </div> <!-- End of Description of Workshop -->
  {% include_relative _includes/dates.html %}
  <br/>
  {% include_relative _includes/journal.html %}
  <br/>

  <h1>Previous Workshops</h1>
  <div id="description">
    <p><a href="http://www.mcs.anl.gov/events/workshops/ashes/2020">ASHES 2020</a> in New Orleans, USA</p>
    <p><a href="http://www.mcs.anl.gov/events/workshops/ashes/2019">ASHES 2019</a> in Rio de Janeiro, Brazil</p>
    <p><a href="http://www.mcs.anl.gov/events/workshops/ashes/2018">ASHES 2018</a> in Vancouver, Canada</p>
    <p><a href="http://www.mcs.anl.gov/events/workshops/ashes/2017">ASHES 2017</a> in Orlando, USA</p>
    <p><a href="http://www.mcs.anl.gov/events/workshops/ashes/2016">ASHES 2016</a> in Chicago, USA</p>
    <p><a href="http://www.mcs.anl.gov/events/workshops/ashes/2015">ASHES 2015</a>,
       <a href="http://web.cs.uh.edu/~hpctools/plc2015/">PLC 2015</a> in Hyderabad, India</p>
    <p><a href="http://www.mcs.anl.gov/events/workshops/ashes/2014">ASHES 2014</a>,
       <a href="http://web.cs.uh.edu/~hpctools/plc2014/">PLC 2014</a> in Phoenix, USA</p>
    <p><a href="http://www.mcs.anl.gov/events/workshops/ashes/2013">ASHES 2013</a>,
       <a href="http://web.cs.uh.edu/~hpctools/plc2013/">PLC 2013</a> in Boston, USA</p>
    <p><a href="http://www.mcs.anl.gov/events/workshops/ashes/2012">ASHES 2012</a> in Shanghai, China</p>
    <p><a href="http://www.mcs.anl.gov/events/workshops/ashes/2011">CACHES 2011</a> in Tucson, Arizona</p>
  </div> <!-- End of Previous Workshops -->
</div> <!-- End of sub-frame -->
